extends ../layout

block content
    header.chat-header
        h2 <i class="fas fa-comments"></i> Web Chat
    
    main.chat-main
        div.chat-sidebar( style="min-height: 600px;" ) 
            


            li.list-item
                div 
                    img( src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/488320/profile/profile-80.jpg" class="list-item-image" )
                div.list-item-content
                    <h4>Hitesh Kumar</h4>
                    <p>@hk-skit</p>











                


        div.chat-messages
            div.message


    div.chat-form-container
        form#chat-form
            input#msg(type="text" placeholder="Enter Message" required autocomplete="off")
            button( class="btn" )
                <i class="fas fa-paper-plane"></i> Send

    .script 
        script(src="/socket.io/socket.io.js")
        //- script(src="js/main.js")
    
    script.

        socket = io ( { query: { userId: "#{userId}" } });

        socket.on('broadcast',(data) =>{
            console.log(data);
        });


    
        
		    
