html(lang="en")
    head
        meta(charset="utf-8")
        title=pageTitle
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        
        //- link(href="/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css")
        //- link(rel="shortcut icon" href="/assets/media/logos/favicon.ico" type="image/x-icon")
        //- link(rel="icon" href="/assets/media/logos/favicon.ico" type="image/x-icon")
    body
        h1 HELLO
