html(lang="en")
    head
        title=pageTitle
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" )
        link(rel="stylesheet" href="css/style.css" )
        
        //- link(rel="icon" href="/assets/media/logos/favicon.ico" type="image/x-icon")
        //- link(rel="shortcut icon" href="/assets/media/logos/favicon.ico" type="image/x-icon")
        
    body
        div.chat-container

            block content
        
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha256-ijqLssetA1NMNjZ+w1zaUafQQLm4IW5OoM8O+4tatME=" crossorigin="anonymous")
