extends ../layout

block content
    header.chat-header
        h2 <i class="fas fa-comments"></i> Web Chat
        h4 <i class="fas fa-user"></i> User Login

    main.chat-main
    div.chat-form-container
        form#signup-form(style="display: block" method="POST" action="/login")
            <input type="text" id="from" name="username"  placeholder="Enter Username" />
            <input type="password" id="from" name="password"  placeholder="Enter Password" />
            <br><br>
            <button class="btn2" type="submit"><i class="fas fa-sign-in-alt"></i> Login </button>
            <a class="btn2" href="/sign-up" ><i class="fas fa-user-plus"></i> Signup </a>

        -if(errorMgs)
            div(style="text-align: center")
                p(style="color: #fff")=errorMgs

    .script 
        
		    
